.Owner {
  position: fixed;
  width: 384px;
  height: 490px;
  top: 50%;
  left: 50%;
  margin: -245px -192px;
  background: transparent;
  animation: OpenIntro 1000ms ease-out forwards
}

.Owner div {
  width: 200px;
  height: 200px;
  background: url('../../../images/owner.jpg') no-repeat center;
  border-radius: 50%;
  
  margin: 15px auto;
  border: 1px solid rgb(180, 180, 180)
}

.Owner h4 {
  color: white;
  font-weight: 300;
  font-size: 22px;
  margin: 0
}

.Owner p {
  width: 354px;
  margin: 10px auto;

  color: white;
  font-size: 14px;
  text-align: justify;
  font-weight: 100
}

@media (max-width: 320px) and (max-height: 568px) {
  .Owner {
    width: 260px;
    height: 354px;
    margin: -184px -130px;
    border: 1px solid transparent
  }

  .Owner div {
    width: 150px;
    height: 150px;
  }

  .Owner h4 {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .Owner p {
    width: 235px;
    font-size: 10px;
    margin: 0 auto;
    padding: 0;
    line-height: 14px;
  }
}

@keyframes OpenOwner {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }

  50% {
    opacity: .8;
    transform: translateY(10%)
  }

  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}