.Heading{
  /* background: gray; */
  width: 100%;
  /* position: fixed; */
  position: relative;
  margin: 100px 0 0 0 ;
  color: #fce7e2;
  z-index: 200;
  /* font-family: Tahoma */
  animation: OpenHeading 600ms ease-out forwards
}

.Top, .Bottom {
  width: 80%;
  height: 1px;
  background: #e5e0de;
  margin: auto;
  border-radius: 1px
}

.Bottom{
  margin-top: 35px;
}
.Heading h1{
  color: white;
  
  letter-spacing: 2px
}

.Heading h3 {
  color: white;
  font-size: 12px;
  border: 0;
  padding: 0;
  margin: 8px;
  letter-spacing: 1px;
  font-weight: 200
  
}
.Heading hr{
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 2px;
  height: 50px;
  background: white
}

@keyframes OpenHeading {
  0% {
    opacity: 0;
    /* transform: translateY(-100%) */
  }

  50% {
    opacity: .3;
    /* transform: translateY(29%) */
  }

  100% {
    opacity: 1;
    /* transform: translateY(0%) */
  }
}