    .Main {
  position: absolute;
  width: 100%;
  height: 890px;
  text-align: center;
  background: url('../images/Mains.jpg') no-repeat center center;
  font-family: 'open sans';
  animation: OpenMain 1100ms ease-out forwards
}


@keyframes OpenMain{
   0% {
        opacity: 0;
    }
    50%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}

@media (min-width: 600px){
    .Main {
      height: 890px;
      background: url('../images/desktop.jpg') no-repeat center center;
    }
} 



/* 
@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
} */
