.Contact {
  position: fixed;
  width: 384px;
  height: 490px;
  top: 50%;
  left: 50%;
  margin: -245px -192px;
  background: transparent;
  animation: OpenContact 1000ms ease-out forwards
}

.Contact h4 {
  color: white;
  font-weight: 300;
  font-size: 22px;
  margin: auto;
  margin-top: 40px
}

.Contact input, 
.Contact textarea {
  width: 80%;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-family: 'open sans';
  background: transparent;
  color: white;
  font-weight: 200;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.Contact textarea {
  height: 150px;
  padding: 10px 20px 0 20px;
}

.Contact input[type='submit']{
  width: 90%
}

.Contact p{
  /* background: peru; */
  font-size: 11px;
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 5px
}

@keyframes OpenContact {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }

  50% {
    opacity: .8;
    transform: translateY(10%)
  }

  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}